//======================================//
//================COLORS================//
//======================================//

$white                       :    white;
$grey                        :    #ccc;
$secondary-select-color      :    rgb(129, 201, 143);
$main-theme-color            :    rgb(116, 119, 191);

//=========================================//
//=================Fonts==================//
//========================================//

$font-primary     :     'Nunito', sans-serif;