.side-nav {
    display: none;
    grid-column: 1;
    grid-row: 1 / 6;

    @include mq ($brk-l) {
        display: flex;
        flex-direction: column;
        background: darken($main-theme-color, 30%);
        width: 3.5em;
    }

   & svg {
       width: 2em;
       fill: darken($grey, 20%);
   }

   & .dashboard svg {
       fill: $white;
   }
}

.dashboard, .members,
.settings {
    margin: 1em .6em;
}

.visits {
    margin: 1.5em .3em;
}

